/* Shared Between Sections */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 1200px;
}

button {
    padding: 8px 15px;
    font-weight: bold;
    border: none;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

p {
    line-height: 1.25;
}

.nav,
.section,
.cta-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.flex {
    display: flex;
}

.nav,
.cta-container {
    justify-content: space-between;
}

.dog-details,
.quote,
.footer {
    justify-content: center;
}

.quote, 
.cta {
    align-items: center;
}

.hero-left,
.cta-container {
    flex: 1;
}

.quote,
.section {
    height: 450px;
}

img {
    height: auto;
}

.header,
.footer {
    background-color: #1f2937;
}

button,
.cta-container {
    background-color: #3882f6;
}

.nav h3,
.hero-left h1 {
    color: #f9faf8;
}

a:visited,
button,
.gray-txt {
    color: #e5e7eb;
}

button,
.dog-details img,
.cta-container {
    border-radius: 7px;
}

.hero-left h1,
.dogs h2 {
    font-weight: 900;
}

/* Header */

.nav {
    align-items: center;
    padding-top: 20px;
}

.nav h3 {
    font-size: 24px;
}

.nav ul {
    gap: 25px;
}

.hero {
    padding-top: 80px;
    gap: 50px;
}

.hero-left {
    flex-shrink: 0;
}

.hero-left h1 {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.hero-right img {
    width: 350px;
}

/* Dogs */

.dogs {
    flex-direction: column;
}

.dogs h2,
.dog-details p {
    text-align: center;
}

.dogs h2 {
    font-size: 36px;
    color: #1f2937;
    margin: 35px 0;
}

.dog-details {
    gap: 40px;
}

.dog-details img {
    border: 4px solid #3882f6;
    width: 175px;
    margin-bottom: 5px;
}

/* Quote */

.quote {
    background-color: #e5e7eb;
}

.quote-container {
    max-width: 800px;
}

.quote-text,
.quote-name {
    color: #1f291f;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    align-self: center;
}

.quote-name {
    font-weight: bold;
    text-align: right;
    align-self: flex-end;
    padding-right: 60px;
    padding-top: 5px;
}

/* CTA */

.cta {
    height: 300px;
}

.cta-container {
    padding: 40px 130px;
}

.cta-container button {
    border: 2px solid #ffffff;
}

/* Footer */

.footer {
    padding: 25px 0;
}