/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #3882f6;
    padding: 8px 15px;
    font-weight: bold;
    border: none;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

/* Shared Between Sections */

.flex {
    display: flex;
}

.logo,
.hero-main {
    color: #f9faf8;
}

a:visited,
button,
.nav-links,
.hero-secondary {
    color: #e5e7eb;
}

button,
.dog img {
    border-radius: 7px;
}

.container {
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.hero,
.adoption {
    height: 363px;
}

.hero-main,
.section-title {
    font-weight: 900;
}

/* Header */

.header {
    background-color: #1f2937;
}

.nav {
    align-items: center;
    padding: 20px 20px 0 20px;
}

.nav-links {
    gap: 25px;
}

.logo {
    font-size: 24px;
}

.hero {
    padding-top: 80px;
}

.hero-main {
    font-size: 48px;
}

.hero-secondary {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.hero-left {
    max-width: 400px;
    min-width: 400px;
}

.hero-right img {
    width: auto;
    height: 200px;
}

/* Adoption */

.section-title {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

.dog img {
    border: 4px solid #3882f6;
}

.dogs {
    text-align: center;
    justify-content: center;
    gap: 50px;
}