/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #3882f6;
    padding: 8px 15px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

/* Shared Between Sections */

.logo,
.hero-main {
    color: #f9faf8;
}

a:visited,
button,
.nav-links,
.hero-secondary {
    color: #e5e7eb;
}

.nav, .hero {
    max-width: 1000px;
    min-width: 820px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.flex {
    display: flex;
}

/* Header */
.header {
    background-color: #1f2937;
}

.nav {
    align-items: center;
    padding: 20px 20px 0 20px;
}

.nav-links {
    gap: 25px;
}

.logo {
    font-size: 24px;
}

.hero {
    margin-top: 80px;
    padding-bottom: 80px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    margin-bottom: 15px;
}

.hero-right img {
    width: 300px;
    height: auto;
}